/* Colors  Start 
 indigo: #4b0082;
 whitesmoke:#f5f5f5
 medium-gray:#6e6d6d
 nav-pink:#ffb6c1
 darkest:#00000033
*/
/* (rgba(104, 212, 133, 0.8), rgba(104, 212, 133, 0.8)) */
/* (rgba(104, 212, 133, 0.5), rgba(169, 104, 212, 0.5)) */
@keyframes transition-left {
  0% {
    opacity: 0;
    transform: translate(-10rem);
    /* Object is far off page and out of sight */ }
  50% {
    transform: translate(1rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /* at zero, the element is at its original place */ }
  /* Added to first part of header to add fade-in from left */ }

@keyframes transition-right {
  0% {
    opacity: 0;
    transform: translate(20rem);
    /* Object is far off page and out of sight */ }
  100% {
    opacity: 1;
    transform: translate(0);
    /* at zero, the element is at its original place */ }
  /* Added to second part of header to add fade-in from right */ }

@keyframes transition-bottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
    /* Object is far off page and out of sight */ }
  100% {
    opacity: 1;
    transform: translate(0);
    /* at zero, the element is at its original place */ }
  /* Added to second part of header to add fade-in from right */ }

/* Reset default settings */
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

/* Using a percentage ensures the users can change the default font-size.. The
default font-size is 16px.   10px is the desired font size and 10 px is 62.5% of 16 */
body {
  box-sizing: border-box;
  /* with box-sizing, border box , the content width will be reduce by the padding and border
    instead of adding them to the specific width(default box-sizing) */ }

body {
  font-family: "Lato" , sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1.5;
  color: #f5f5f5;
  padding: 3rem; }

.heading-primary {
  text-transform: uppercase;
  margin-bottom: 6rem; }

.heading-primary--main {
  display: block;
  font-size: 4.5rem;
  letter-spacing: 2.5rem;
  font-weight: 400;
  animation: transition-left 4s ease-out; }

/* Here are the option for animation:  animation: name duration 
timing-function delay iteration-count direction fill-mode; */
.heading-primary--second {
  display: block;
  font-size: 2.2rem;
  letter-spacing: 1.7rem;
  font-weight: 700;
  margin-left: 2rem;
  animation: transition-right 2s  ease-in  2s backwards; }

.heading-secondary {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase; }
  .heading-secondary:hover {
    transform: scale(1.02); }
  .heading-secondary-2 {
    font-family: "Playbill";
    color: #4b0082; }
    .heading-secondary-2:hover {
      transform: scale(1.02); }

.heading-secondary-3 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase; }

.heading-tertiary {
  font-size: 1.7rem;
  font-weight: 800;
  text-transform: uppercase;
  padding-bottom: 1rem; }

.heading-tertiary-2 {
  font-size: 2rem;
  letter-spacing: 3px;
  font-weight: 800;
  text-transform: uppercase;
  padding-bottom: 1rem; }

.paragraph {
  font-size: 1.6rem;
  color: #252525; }

.ff-playbill {
  font-family: "Playbill"; }

.utility-center-text {
  text-align: center; }

.utility-margin-bottom-8 {
  margin-bottom: 8rem; }

.utility-margin-bottom-3 {
  margin-bottom: 3rem; }

.utility-margin-top-8 {
  margin-top: 8rem; }

.utility-margin-top-3 {
  margin-top: 3rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .5;
  overflow: hidden; }
  .bg-video_content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10rem;
  /* adding a high value for border-radius creates an oval shape */
  transition: all .2s;
  position: relative;
  font-weight: 700;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  color: #4b0082;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /* For box-shadow values are in this order: x, y, blur, color */ }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem #00000033;
  /* By decreasing the value of 'Y' and blur as compared to hover state,
    you give the illusion that the button is moving closer to the page and away 
    from the user */ }

.btn--white {
  background-color: #f5f5f5;
  color: #6e6d6d;
  padding: 1.2rem 3.6rem;
  display: inline-block;
  /* Changing inline-text to inline-block */ }

.btn--indigo {
  color: #f5f5f5;
  background-color: #75538e;
  padding: 1.2rem 3.0rem;
  display: inline-block;
  margin-top: 4rem;
  /* Changing inline-text to inline-block */ }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  /* This 100% of button's height */
  width: 100%;
  border-radius: 10rem;
  /* Same as button's border-radius */
  /* This is a pseudo element that duplicates the look of the orginal button
    It goes behind the button */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* This puts the this element behind the first button */
  transition: all .4s;
  /* Using the transition property creates a more suble phasing in effect */ }

.btn-white::after {
  background-color: #f5f5f5;
  /* Adding back color white to 'after' element */ }

.btn--indigo:hover {
  background-color: #ffffff;
  color: #75538e; }

.btn:hover::after {
  transform: scaleX(1.1) scaleY(1.2);
  /* Upon hover the after element should grow.  Using scale() to define growth value */
  opacity: 0; }

.btn--animated {
  animation: transition-bottom 3s ease-out 4s backwards; }

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 1px solid #4b0082;
  border-radius: 10%;
  padding: 5px;
  font-size: 1.6rem;
  letter-spacing: 7px;
  transition: all .3s; }

.btn-text:hover {
  background-color: #188383;
  color: #f5f5f5;
  transform: translateY(-2px);
  box-shadow: 0 1rem 1rem #00000033;
  padding: .8rem; }

.btn-text:active {
  transform: translateY(-2px);
  box-shadow: 0 0.5rem 1rem #00000033;
  transform: translateY(0); }

.cards-container {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  height: 36rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 3rem rgba(37, 37, 37, 0.15);
  transition: transform .6s ease-in-out; }
  .cards-container_icon {
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7A9D54, #252525);
    -webkit-background-clip: text;
    color: transparent; }
  .cards-container:hover {
    transform: translateY(-1rem) scale(1.03); }

.card-tours {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  text-align: center;
  height: 64rem; }
  .card-tours_heading {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #2c014b;
    text-align: right;
    position: absolute;
    top: 19rem;
    right: 2rem; }
  .card-tours_details--heading {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: "Playbill";
    text-transform: uppercase;
    color: #2c014b; }
  .card-tours_details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto; }
    .card-tours_details ul li {
      text-align: center;
      font-size: 1.7rem;
      padding: 1rem;
      color: #2c014b; }
      .card-tours_details ul li:not(:last-child) {
        border-bottom: 1px solid #cdcccc; }
  .card-tours_side {
    height: 64rem;
    transition: all 3s;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden; }
    .card-tours_side--front {
      background-color: rgba(245, 245, 245, 0.85); }
    .card-tours_side--back {
      transform: rotateY(180deg); }
      .card-tours_side--back-1 {
        background-image: linear-gradient(to right bottom, #DBC4F0, #95BDFF); }
      .card-tours_side--back-2 {
        background-image: linear-gradient(to right bottom, #A8DF8E, #DFFFD8); }
      .card-tours_side--back-3 {
        background-image: linear-gradient(to right bottom, #F7C8E0, #c65d93); }
  .card-tours:hover .card-tours_side--front {
    transform: rotateY(-180deg); }
  .card-tours:hover .card-tours_side--back {
    transform: rotateY(0deg); }
  .card-tours_image {
    background-size: cover;
    height: 25rem;
    background-blend-mode: overlay; }
    .card-tours_image-1 {
      background-image: linear-gradient(to right bottom, #A8DF8E, #DBC4F0), url(../images/japanese-forest-2.jpeg); }
    .card-tours_image-2 {
      background-image: linear-gradient(to right bottom, #A8DF8E, #172c01), url(../images/cotswold-stanton.jpeg); }
    .card-tours_image-3 {
      background-image: linear-gradient(to right bottom, #A8DF8E, #172c01), url(../images/madeira-coastline.jpeg); }
  .card-tours_action {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; }
  .card-tours_price-container {
    margin-bottom: 7rem; }
  .card-tours_price-heading {
    font-family: "Playbill";
    font-size: 3rem;
    padding: 2rem; }
  .card-tours_price-icon {
    font-size: 4rem; }
  .card-tours_price-cost {
    font-size: 4rem;
    font-weight: 200; }

.design {
  position: relative; }
  .design_photo {
    width: 55%;
    box-shadow: 0 1.5rem 2rem rgba(37, 37, 37, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 8;
    transition: all .3s; }
    .design_photo--p1 {
      left: 0;
      top: -2rem; }
    .design_photo--p2 {
      right: 0;
      top: 2rem; }
    .design_photo--p3 {
      left: 15%;
      top: 14rem; }
    .design_photo:hover {
      transform: scale(1.05);
      outline: 3px outset #75538e;
      box-shadow: 0 2rem 2rem rgba(37, 37, 37, 0.5);
      z-index: 12; }
  .design:hover .design_photo:not(:hover) {
    transform: scale(0.9); }

.form {
  color: #2c014b; }
  .form_input {
    font-size: 1.5rem;
    padding: 1rem  2rem;
    border-radius: 2px;
    margin-bottom: 3rem;
    border: none;
    font-family: inherit;
    display: block;
    width: 90%; }
    .form_input:focus:invalid {
      border-bottom: 3px solid #d21a1a; }
  .form :focus {
    outline: none;
    border-bottom: 3px solid #7A9D54; }
  .form_label {
    font-size: 2rem;
    margin-left: 2rem;
    font-weight: 700; }
  .form_radio-group {
    margin: 2rem 0;
    font-weight: 700;
    padding-left: 3rem; }
  .form_radio-input {
    display: none; }
  .form_radio-label {
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    padding-left: 1rem; }
  .form_radio-button {
    height: 2rem;
    width: 2rem;
    border: 4px solid #4b0082;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: .5rem;
    left: -2rem; }
    .form_radio-button::after {
      height: .8rem;
      width: .8rem;
      content: "";
      display: block;
      border-radius: 50%;
      background-color: #75538e;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: 3s; }
  .form_radio-input:checked + .form_radio-label .form_radio-button::after {
    opacity: 1; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 2rem 5rem rgba(37, 37, 37, 0.1);
  border-radius: 3px;
  background-color: #f5f5f5;
  padding: 6rem;
  padding-left: 5rem;
  border: 1px dashed #2c014b; }
  .story_circle {
    width: 16rem;
    height: 16rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translate(-3rem);
    position: relative; }
  .story_image-1 {
    width: 100%;
    opacity: .8;
    transform: translate(-0.1rem) scale(1.3);
    transition: 1s  ease-in;
    backface-visibility: hidden; }
  .story_image-2 {
    width: 100%;
    opacity: .8;
    transform: translate(-1rem, -5rem) scale(1.4);
    transition: 1s  ease-in;
    backface-visibility: hidden; }
  .story_caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
    transition: 1s;
    backface-visibility: hidden; }
  .story:hover .story_caption {
    opacity: 1;
    transform: translate(-50%, -50%);
    color: #ffffff; }
  .story:hover .story_image-1 {
    transform: translate(-0.1rem) scale(1);
    filter: blur(3px) brightness(80%); }
  .story:hover .story_image-2 {
    transform: translate(-1rem -2rem) scale(1.1);
    filter: blur(3px) brightness(80%); }

.header {
  height: 95vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(190, 159, 211, 0.4)), url(../images/japanese-garden.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  .header__box-logo {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    line-height: 2.5;
    transform: translate(-10%, -50%);
    /* transform/translate moves center of text box */
    text-align: center; }

.logo {
  height: 4rem; }

.logo:hover {
  animation: transition-left 4s ease-out; }

.section-about {
  background-color: #fdfcfcee;
  padding: 15rem 0;
  color: #4b0082; }

.container {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.flex-1-col-1 {
  width: calc((100% - 4rem) /2);
  margin-right: 2rem;
  height: 40rem; }

.flex-1-col-2 {
  width: calc((100% - 4rem) /2);
  height: 40rem; }

.section-cards {
  color: #252525;
  padding: 16rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(23, 44, 1, 0.109)), url(../images/japan-nikko.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.flex-4-col-1, .flex-4-col-2, .flex-4-col-3 {
  width: calc((100% - 6rem) /4);
  margin-right: 3rem;
  padding: 3rem; }

.flex-4-col-4 {
  width: calc((100% - 6rem) /4);
  padding: 3rem; }

.section-tours {
  color: #252525;
  padding: 13rem 0;
  margin-bottom: 2rem; }

.flex-3-col-1, .flex-3-col-2, .flex-3-col-3 {
  width: calc((100% - 4rem) /3);
  margin-right: 3rem; }

/* width is calculated  for 1st column as 100% of width minus the gutter;  divided by 3 ,*/
.section-stories {
  position: relative;
  padding: 15rem 0;
  color: #4b0082;
  margin-bottom: 8rem; }

.story-container {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 3rem; }

.section-booking {
  background-image: linear-gradient(to right bottom, #7A9D54, #C9F4AA);
  padding: 15rem 0; }

.booking {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../images/cotswold-arlington-row.jpeg);
  height: 65rem;
  border-radius: 3px;
  background-size: cover;
  box-shadow: 0 1.5rem 3rem rgba(37, 37, 37, 0.2); }
  .booking_form {
    width: 50%;
    padding: 6rem; }

.booking-container {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 3rem; }
