/* Colors  Start 
 indigo: #4b0082;
 whitesmoke:#f5f5f5
 medium-gray:#6e6d6d
 nav-pink:#ffb6c1
 darkest:#00000033
*/

/* (rgba(104, 212, 133, 0.8), rgba(104, 212, 133, 0.8)) */
/* (rgba(104, 212, 133, 0.5), rgba(169, 104, 212, 0.5)) */

$color-primary: #4b0082;
$color-primary-med: #75538e;

$color-secondary-violet: #DBC4F0;
$color-secondary-blue: #95BDFF;
$color-secondary-green-light: #DFFFD8;
$color-secondary-green-med: #A8DF8E;
$color-secondary-pink-light: #F7C8E0;
$color-secondary-pink-med: #bf3f81;

$color-green-light: #C9F4AA;
$color-green-med: #7A9D54;
$color-green-darkest: #172c01;
$color-azure: #188383;


$color-primary-light: #f5f5f5;
$color-primary-white: #ffffff;
$color-btn: #6e6d6d;
$color-grey-light-1: #fdfcfcee;
$color-grey-med-1: #cdcccc;

$color-nav-pink: #ffb6c1;
$color-dark-1: #181818;
$color-dark-2: #252525;
$color-primary-darkest: #00000033;

// Colors  End


// font-sizes start

$font-size-small: 1.6rem;


