.card-tours{
    perspective: 150rem;
    // perspective is applied to parent
    -moz-perspective: 150rem;
    // The -moz-perspective allows it to work in Firefox
    position: relative;
    text-align: center;
    height: 64rem;

    &_heading{
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;
      color: $color-primary-dark;
      text-align: right;
      position: absolute;
      top: 19rem;
      right: 2rem;
    }

    &_details{

      &--heading{
        font-size: 1.8rem;
        font-weight: 600;
        font-family: "Playbill";
        text-transform: uppercase;
        color: $color-primary-dark;
      }

    

        ul{
            list-style: none;
            width: 80%;
            margin: 0 auto;
                
            li{
              text-align: center;
              font-size: 1.7rem;
              padding: 1rem;
              color: $color-primary-dark;
                &:not(:last-child){
                  border-bottom: 1px solid $color-grey-med-1;
                }             
            }
        }
    }
    
    &_side{
        height: 64rem;
         transition: all 3s;
         width: 100%;
         position: absolute;
         top: 0;
         left: 0;
         backface-visibility: hidden;
         border-radius: 3px;
         overflow: hidden;

          &--front{
            background-color: rgba($color-primary-light, .85);
          }

          &--back{
            transform: rotateY(180deg);
           

               &-1{
              background-image: linear-gradient(to right bottom,  $color-secondary-violet,  $color-secondary-blue);
            }

            &-2{
              background-image: linear-gradient(to right bottom,  $color-secondary-green-med,  $color-secondary-green-light);
            }

            &-3{
              background-image: linear-gradient(to right bottom,  $color-secondary-pink-light,  $color-secondary-pink-med);
            }



          }
    }

    &:hover &_side--front {
        transform: rotateY(-180deg);
    }

     // negative values allow movement in the opposite direction


    &:hover &_side--back {
        transform: rotateY(0deg);
    }

    // Front-side Styles

    &_image{
          background-size: cover;
          height: 25rem;
          background-blend-mode:overlay;
          &-1{
            background-image:  linear-gradient(to right bottom,  $color-secondary-green-med,  $color-secondary-violet) ,
            url(../images/japanese-forest-2.jpeg);
          }

          &-2{
            background-image: linear-gradient(to right bottom,  $color-secondary-green-med,  $color-green-darkest),
                url(../images/cotswold-stanton.jpeg);
          }

          &-3{
            background-image: linear-gradient(to right bottom,  $color-secondary-green-med,  $color-green-darkest),
                url(../images/madeira-coastline.jpeg);
          }


    }

    // Back-side Styles

      &_action{
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50% , -50%);
          width: 90%;
        
      }
      &_price-container{
          margin-bottom: 7rem;
      }

      &_price-heading{
        font-family: "Playbill";
        font-size: 3rem;
        padding: 2rem;
      }

      &_price-icon{
        font-size: 4rem;
      }

      &_price-cost{
        font-size: 4rem;
        font-weight: 200;

      }

   }




